* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  width: 85%;
  font-size: 1em;
  color: #ffffff;
  background-color: #00bcd4;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.2s;
}
